.navbar{
    background-image: url(img/img1.jpg);
}

#carouselExampleCaptions img{
    height: 600px;
}
div.section-title{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
}
.cards{
    display:flex;
    flex-direction: column;
    gap: 30px;
}
.cards .card{
    display: flex;
    flex-direction: row;
}
.cards .card .card-img-top{
    width: 300px;
    height: 300px;
}
.cards .card .card-body p{
    font-size: 24px;
}
.btn{
    padding: 20px;
    font-size: 20px;
}
.row>* {
    flex-shrink: 0;
    width: 40%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.contact .heading{
    text-align: center;
    margin:10px;
}
